.lasted-page{

    .title{
        font-size: 30px;

        >span{
            margin-left: 10px;
        }
    }
    
    .comment-list{
        margin: 0;
        padding-right: 30px;

        li{
            margin: 10px;
            list-style: none;
            padding-top: 30px;
            border-top: 1px solid rgb(214, 214, 214);

            .movie{
                margin-bottom: 40px;
        
                .title{
                    font-size: 24px;
                    font-weight: 600;
                    color: #494949;
                }
                .info{
                    img{
                        height: 225px;
                        float: left;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                    &>p{
                        font-size: 14px;
                        color: #666;  
                        
                        span{
                            color: #111;
                        }
                    }

                    .star{
                        span{
                            background-color: #74ab34;
                            color: #fff;
                            padding: 0 5px;
                        }
                        
                    }
            
                    .desc{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    
}